.steps {
    position: relative;
    display: inline-block;
  }

.steps::before {
    content: '';
    position: absolute;
    pointer-events: none;
    width: 10px;
    height: 10px;
    top: 50%;
    left: -40px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--color-grey-500);
    transform: translateY(-50%);
}

.steps-line {
    position: relative;
    display: inline-block;
}

.steps-line::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: -35px;
    background-color: var(--color-grey-500);
}