@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey-100: #EBEBEB;
    --color-grey-200: #CFCFCE;
    --color-grey-300: #7e7e7e;
    --color-grey-400: #676769;
    --color-grey-500: #424242;
    --color-grey-800: #494949;
    --color-grey-950: #1C1C1C;
    --color-green-100: #E8F9F0;
    --color-green-300: #A1FFCD;
    --color-green-700: #478978;
    --highlight-z-index: -10;
    --page-z-index: 20;
    --modal-z-index: 30;
    --header-z-index: 40;

    /* Systems Animation */
    --systemsGraphicIconSize: 78px;
    --rowColumnGap: 12px;
    --willChange: initial;
    --aspectRatio: 100%;
    --maxWidth: 540px;
    --maxWidthTablet: 540px;
    --maxWidthPhone: 350px;
    --maxWidthDesktop: 540px;
    --domGraphicHeight: 540px;
    --domGraphicWidth: 540px;
    --domGraphicHeight: 540px;
    --scale: 1;
}


html {
    /* font-size: 14px; */
}
@media (min-width: 768px) {
    html {
        /* font-size: 16px; */
    }
}
@media (min-width: 640px) {
    html {
        font-size: 16px;
    }
}

body {
    z-index: var(--page-z-index);
}

header {
    z-index: var(--header-z-index);
}

.nav-item, .nav-item-white {
    position: relative;
    display: inline-block;
    transition-behavior: normal;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

/* When active translate the current link to the left */
.nav-item.active, .nav-item-white.active {
    transform: translate3d(-10px, 0, 0);
}

/* The nav elements hover bar */
.nav-item::after {
    content: ' ';
    position: absolute;
    width: 3rem;
    top: 50%;
    right: -3.625rem;
    height: 1px;
    background: var(--color-grey-500);
    transform: translate3d(101%,0,0);
    transition-behavior: normal;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: transform;
}

.nav-item-white::after {
    content: ' ';
    position: absolute;
    width: 3rem;
    top: 50%;
    right: -3.625rem;
    height: 1px;
    background: var(--color-white);
    transform: translate3d(101%,0,0);
    transition-behavior: normal;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: transform;
}

/* Translate the hover bar on hover */
.nav-item:hover::after, .nav-item-white:hover::after {
    transform: translate3d(0,0,0);
}

.nav-item.active::after, .nav-item-white.active::after {
    transform: translate3d(10px,0,0) scale(1.2);
}

.outline-text {
    color: transparent;
    -webkit-text-stroke: 0.5px var(--color-grey-500);
  }
  @media (min-width: 768px) {
    .outline-text {
        -webkit-text-stroke: 1px var(--color-grey-500);
    }
}

.outline-white-text {
    color: transparent;
    -webkit-text-stroke: 0.5px var(--color-white);
  }
  /* @media (min-width: 640px) {
    .outline-white-text {
        -webkit-text-stroke: 1px var(--color-white);
    }
    } */
@media (min-width: 768px) {
    .outline-white-text {
        -webkit-text-stroke: 1px var(--color-white);
    }
}

@keyframes heightAnimation {
    0% {
      height: 0;
    }
    100% {
      height: 50%;
    }
  }

@keyframes spin {
from {
    transform: rotate(0deg)
}
to {
    transform: rotate(359deg)
}
}

.placeholder {
    border: 1px solid var(--color-grey-300);

    background-image: repeating-linear-gradient(45deg,
    var(--color-grey-200) 10px,
    var(--color-grey-200) 12px,
    transparent 12px,
    transparent 20px);
}

  .highlight-dark-text {
      color: var(--color-green-700);
      position: relative;
      display: inline-block; /* or inline-flex */
      z-index: var(--page-z-index);
  }

  .highlight-dark-text::before {
      content: '';
      position: absolute;
      pointer-events: none;
      width: 100%; /* cover the full width of the parent */
      height: 0; /* start from 0 height */
      bottom: 0;
      left: 0; /* start from the left edge of the parent */
      background: var(--color-green-300);
      z-index: var(--highlight-z-index);
      animation: heightAnimation 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.25s forwards; /* animate the height */
  }

  .highlight-white-text {
    color: var(--color-green-300);
    position: relative;
    display: inline-block; /* or inline-flex */
    z-index: var(--page-z-index);
}

.highlight-white-text::before {
    content: '';
    position: absolute;
    pointer-events: none;
    width: 100%; /* cover the full width of the parent */
    height: 0; /* start from 0 height */
    bottom: 0;
    left: 0; /* start from the left edge of the parent */
    background: var(--color-green-700);
    z-index: var(--highlight-z-index);
    animation: heightAnimation 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.25s forwards; /* animate the height */
}

  .steps {
    position: relative;
    display: inline-block;
  }

  .steps::before {
        content: '';
        position: absolute;
        pointer-events: none;
        width: 10px;
        height: 10px;
        top: 50%;
        left: -40px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: var(--color-grey-500);
        transform: translateY(-50%);
    }


    .steps-line {
        position: relative;
        display: inline-block;
    }

    .steps-line::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        left: -35px;
        background-color: var(--color-grey-500);
    }

    .phone {
        box-sizing: border-box;
        --phoneBorderRadius: 36px;
        --phoneScreenBorderRadius: 29px;
        --phoneGraphicShadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
        padding: 8px;
        border-radius: 36px;
        background: #f6f9fc;
        box-shadow: var(--phoneGraphicShadow);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .landingPageGraphic {
            display: grid;
            grid: auto/132px 1fr;
            gap: 24px;
            padding: 24px 0 24px 24px;
            border-radius: 8px;
            background: linear-gradient(hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .3) 25%, rgba(246, 249, 252, .3) 50%, #f6f9fc 60%);
            box-shadow: inset 0 1px 1px 0 hsla(0,0%,100%,.1), 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3);
            font-size: 11px;
            font-weight: 300;
            letter-spacing: .2px;
            line-height: 14px;
            color: #425466;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
    }

    .landingPageGraphic__creator {
        display: grid;
        grid: max-content/auto-flow max-content;
        gap: 8px;
        align-items: center;
        font-weight: 620;
        color: var(--color-grey-500);
        letter-spacing: .8px;
        text-transform: uppercase;
    }

    .logoGrayscale {
        filter: grayscale(100%);
        --webkit-filter: grayscale(100%);
    }

    .DomGraphic {
        --maxWidth: 100%;
        --willChange: initial;
        position: relative;
        width: 100%;
        height: var(--domGraphicHeight);
    }

    :root {
        --domGraphicWidth: var(--maxWidthPhone, var(--maxWidth));
      }

      @media (min-width: 900px) {
        :root {
          --domGraphicWidth: var(--maxWidthDesktop, var(--maxWidth));
        }

        .DomGraphic {
          max-width: var(--maxWidthDesktop, var(--maxWidth));
        }
      }

      @media (min-width: 600px) and (max-width: 899px) {
        :root {
          --domGraphicWidth: var(--maxWidthTablet, var(--maxWidth));
        }

        .DomGraphic {
          max-width: var(--maxWidthTablet, var(--maxWidth));
        }
      }

      @media (max-width: 599px) {
        .DomGraphic {
          max-width: var(--maxWidthPhone, var(--maxWidth));
          width: var(--maxWidthPhone, var(--maxWidth));
        }
      }

    .DomGraphic__heightContainer {
        height: 100%;
        width: 100%;
        max-width: var(--domGraphicWidth);
        padding-bottom: var(--aspectRatio);
    }

    .DomGraphic__scaleContainer {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: top left;
        will-change: var(--willChange);
    }

    .HomepageFrontdoorSubanimation {
        display: grid;
        justify-items: center;
        position: relative;
        align-items: center;
        width: var(--domGraphicWidth, 540px);
        height: var(--domGraphicHeight, 540px);
    }

    @media (max-width: 599px) {
        .HomepageFrontdoorSubanimation {
          width: 100%;
          height: 100%;
        }
      }

    .HomepageFrontdoorSuiteAnimation.HomepageFrontdoorSubanimation {
        justify-content: flex-start;
    }

    .HomepageFrontdoorSuiteAnimation__grid {
    position: relative;
    margin: 0 auto;
    place-items: center;
    max-width: var(--systemsAnimationGraphicWidth);
    display: grid;
    grid: auto/minmax(0,1fr);
    row-gap: 12px;
    column-gap: var(--rowColumnGap);
    grid-template-columns: repeat(4, var(--systemsGraphicIconSize));
    grid-template-areas:
    ". Analysis . ."
    "Community . Course Management"
    ". Offer . Content"
    "Sales . Marketing ."
    ". Funnel Payments ."
    "Branding Development . Website";
    }

    @media (max-width: 599px) {
        .HomepageFrontdoorIcon--productEmail,
        .HomepageFrontdoorIcon--productCheckout,
        .HomepageFrontdoorIcon--productSigma,
        .HomepageFrontdoorIcon--productElements {
          display: none;
        }
      }

    @media (min-width: 600px) {
    .HomepageFrontdoorSuiteAnimation__grid {
        grid-template-columns: repeat(6, var(--systemsGraphicIconSize));
        grid-template-areas:
        ". . Analysis . . ."
        "Community . . Course Payments ."
        ". Email Offer Content . Website"
        "Sales . . Marketing . ."
        ". . Funnel Management Development ."
        ". Branding . . Scaling Automations";
    }
    }

    .HomepageFrontdoorIcon {
        --inactiveSize: 78;
        --activeSize: 88;
        --iconScale: 1;
        position: relative;
        width: calc(1px*var(--iconScale)*var(--inactiveSize));
        height: calc(1px*var(--iconScale)*var(--inactiveSize));
        transform-origin: center;
        transform-box: fill-box;
        --icon-delay-2: var(--icon-delay);
    }

    @media (max-width: 599px) {
        .HomepageFrontdoorIcon {
          --inactiveSize: 68;
          --activeSize: 78;
        }
      }

    .HomepageFrontdoorIcon__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: calc(50% - 1px*var(--activeSize)/2);
        left: calc(50% - 1px*var(--activeSize)/2);
        width: calc(1px*var(--activeSize));
        height: calc(1px*var(--activeSize));
        border-radius: 8px;
        transform-origin: center;
        transform-box: fill-box;
        transform: scale(calc(var(--iconScale)*var(--inactiveSize)/var(--activeSize)));
    }

    .HomepageFrontdoorIcon__icon--outline {
        border: calc(1px/var(--iconScale)) solid var(--color-grey-200);
        background: var(--color-green-100);
    }


    .HomepageFrontdoorIcon__icon--solid {
        background: #fff;
        box-shadow: 0 12.6px 25.2px -11.5733px rgba(50,50,93,.25),0 7.56px 15.12px -7.56px rgba(0,0,0,.1);
        opacity: 0;
    }

    .HomepageFrontdoorIcon__icon--outline,
    .HomepageFrontdoorIcon__icon--solid {
        transform-origin: center;
        transform-box: fill-box;
    }

    .HomepageFrontdoorIcon__iconLogo {
        transform-origin: top center;
        transform-box: fill-box;
    }

    .HomepageFrontdoorIcon__iconLogo svg {
        display: block;
    }

    .HomepageFrontdoorIcon__label {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .2px;
        color: var(--color-grey-500);
    }

    @keyframes iconOutlineFadeInOut {
        0%, 60% {
          opacity: 1;
          transform: scale(calc(var(--iconScale)*var(--inactiveSize)/var(--activeSize)));
        }
        65%, 90% {
          opacity: 0;
          transform: scale(calc(var(--iconScale)*var(--inactiveSize)/var(--activeSize)));
        }
        95%, 100% {
          opacity: 1;
          transform: scale(calc(var(--iconScale)*var(--inactiveSize)/var(--activeSize)));
        }
      }

      @keyframes iconSolidFadeInOut {
        0%, 60% {
          opacity: 0;
          transform: scale(calc(var(--iconScale)*var(--inactiveSize)/var(--activeSize)));
        }
        65%, 90% {
          opacity: 1;
          transform: scale(calc(var(--iconScale)*var(--activeSize)/var(--activeSize))); /* solid icon is slightly larger */
        }
        95%, 100% {
          opacity: 0;
          transform: scale(calc(var(--iconScale)*var(--inactiveSize)/var(--activeSize)));
        }
      }

      @keyframes svgScale {
        0%, 60%, 95%, 100% {
          /* counter scale the SVG to keep it at a fixed size */
          transform: scale(1);
        }
        65%, 90% {
          /* Scale the SVG size down and move it slightly upwards */
          transform: scale(0.75) translateY(-20%);
        }
      }

      @keyframes labelTranslate {
        0%, 60%, 95%, 100% {
          /* Move the label slightly upwards */
          transform: translateY(0%);
        }
        65%, 90% {
          /* Move the label slightly upwards */
          transform: translateY(-20%);
        }
      }

      @keyframes iconSolidFadeInOutTwice {
        0%, 12.5% {
          opacity: 1;
          transform: scale(calc(var(--iconScale)*var(--inactiveSize)/var(--activeSize)));
        }
        17.5%, 42.5% {
          opacity: 0;
          transform: scale(calc(var(--iconScale)*var(--activeSize)/var(--activeSize))); /* solid icon is slightly larger */
        }
        47.5%, 50%, 62.5% {
          opacity: 1;
          transform: scale(calc(var(--iconScale)*var(--inactiveSize)/var(--activeSize)));
        }
        67.5%, 92.5% {
          opacity: 0;
          transform: scale(calc(var(--iconScale)*var(--activeSize)/var(--activeSize))); /* solid icon is slightly larger */
        }
        97.5%, 100% {
          opacity: 1;
          transform: scale(calc(var(--iconScale)*var(--inactiveSize)/var(--activeSize)));
        }
      }

      @keyframes iconSolidFadeInOutTwice {
        0%, 12.5% {
          opacity: 0;
          transform: scale(calc(var(--iconScale)*var(--inactiveSize)/var(--activeSize)));
        }
        17.5%, 42.5% {
          opacity: 1;
          transform: scale(calc(var(--iconScale)*var(--activeSize)/var(--activeSize))); /* solid icon is slightly larger */
        }
        47.5%, 50%, 62.5% {
          opacity: 0;
          transform: scale(calc(var(--iconScale)*var(--inactiveSize)/var(--activeSize)));
        }
        67.5%, 92.5% {
          opacity: 1;
          transform: scale(calc(var(--iconScale)*var(--activeSize)/var(--activeSize))); /* solid icon is slightly larger */
        }
        97.5%, 100% {
          opacity: 0;
          transform: scale(calc(var(--iconScale)*var(--inactiveSize)/var(--activeSize)));
        }
      }

      @keyframes svgScaleTwice {
        0%, 12.5% {
          transform: scale(1);
        }
        17.5%, 42.5% {
          transform: scale(0.75) translateY(-20%);
        }
        47.5%, 62.5% {
          transform: scale(1);
        }
        67.5%, 92.5% {
          transform: scale(0.75) translateY(-20%);
        }
        97.5%, 100% {
          transform: scale(1);
        }
      }

      @keyframes labelTranslateTwice {
        0%, 12.5% {
          transform: translateY(0%);
        }
        17.5%, 42.5% {
          transform: translateY(-20%);
        }
        47.5%, 62.5% {
          transform: translateY(0%);
        }
        67.5%, 92.5% {
          transform: translateY(-20%);
        }
        97.5%, 100% {
          transform: translateY(0%);
        }
      }

    /* Outline icon animations */
    .HomepageFrontdoorIcon__icon--outline {
        animation: iconOutlineFadeInOut 15s var(--icon-delay) infinite;
      }

    /* .HomepageFrontdoorIcon--productSales .HomepageFrontdoorIcon__icon--outline, */
    .HomepageFrontdoorIcon--productOffer .HomepageFrontdoorIcon__icon--outline {
        animation: iconOutlineFadeInOutTwice var(--icon-delay) 15s infinite;
    }

    /* Solid icon animations */
    .HomepageFrontdoorIcon__icon--solid {
        animation: iconSolidFadeInOut 15s var(--icon-delay) infinite;
      }

    /* .HomepageFrontdoorIcon--productSales .HomepageFrontdoorIcon__icon--solid, */
    .HomepageFrontdoorIcon--productOffer .HomepageFrontdoorIcon__icon--solid {
        animation: iconSolidFadeInOutTwice 15s var(--icon-delay) infinite;
    }

    /* Label icon animations */
    .HomepageFrontdoorIcon__label {
        animation: iconSolidFadeInOut 15s var(--icon-delay) infinite, labelTranslate 15s calc(var(--icon-delay) + 0.15s) infinite;
      }

    /* .HomepageFrontdoorIcon--productSales .HomepageFrontdoorIcon__label, */
    .HomepageFrontdoorIcon--productOffer .HomepageFrontdoorIcon__label {
        animation: labelTranslateTwice 15s var(--icon-delay) infinite;
    }

    /* SVG icon animations */
    .HomepageFrontdoorIcon__icon--solid svg,
    .HomepageFrontdoorIcon__icon--outline svg {
        animation: svgScale 15s var(--icon-delay) infinite;
    }

    /* .HomepageFrontdoorIcon--productSales .HomepageFrontdoorIcon__icon--solid svg,
    .HomepageFrontdoorIcon--productSales .HomepageFrontdoorIcon__icon--outline svg, */
    .HomepageFrontdoorIcon--productOffer .HomepageFrontdoorIcon__icon--solid svg,
    .HomepageFrontdoorIcon--productOffer .HomepageFrontdoorIcon__icon--outline svg {
        animation: svgScaleTwice 15s var(--icon-delay) infinite;
    }

    .HomepageFrontdoorIcon--productAnalysis {
        grid-area: Analysis;
        --icon-delay: 1s;
    }

    .HomepageFrontdoorIcon--productCommunity {
        grid-area: Community;
        --icon-delay: 4s;
    }

    .HomepageFrontdoorIcon--productCourse {
        grid-area: Course;
        --icon-delay: 5s;
    }

    .HomepageFrontdoorIcon--productPayments {
        grid-area: Payments;
        --icon-delay: 12s;
    }

    .HomepageFrontdoorIcon--productEmail {
        grid-area: Email;
    }

    .HomepageFrontdoorIcon--productOffer {
        grid-area: Offer;
        --icon-delay: 0s;
    }

    .HomepageFrontdoorIcon--productContent {
        grid-area: Content;
    }

    .HomepageFrontdoorIcon--productWebsite {
        grid-area: Website;
        --icon-delay: 12s;
    }

    .HomepageFrontdoorIcon--productSales {
        grid-area: Sales;
        --icon-delay: 9s;
    }

    .HomepageFrontdoorIcon--productMarketing {
        grid-area: Marketing;
        --icon-delay: 1s;
    }

    .HomepageFrontdoorIcon--productFunnel {
        grid-area: Funnel;
        --icon-delay: 9s;
    }

    .HomepageFrontdoorIcon--productManagement {
        grid-area: Management;
    }

    .HomepageFrontdoorIcon--productDevelopment {
        grid-area: Development;
        --icon-delay: 11s;
    }

    .HomepageFrontdoorIcon--productBranding {
        grid-area: Branding;
    }

    .HomepageFrontdoorIcon--productScaling {
        grid-area: Scaling;
    }

    .HomepageFrontdoorIcon--productElements {
        grid-area: Automations;
    }

@layer base {
    /* Maison Neue Light */
    @font-face {
      font-family: 'Maison Neue';
      font-style: normal;
      font-weight: 300;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-Light.woff2') format('woff2');
    }

    /* Maison Neue Light Italic */
    @font-face {
      font-family: 'Maison Neue';
      font-style: italic;
      font-weight: 300;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-LightItalic.woff2') format('woff2');
    }

    /* Maison Neue Book */
    @font-face {
      font-family: 'Maison Neue';
      font-style: normal;
      font-weight: 400;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-Book.woff2') format('woff2');
    }

    /* Maison Neue Book Italic */
    @font-face {
      font-family: 'Maison Neue';
      font-style: italic;
      font-weight: 400;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-BookItalic.woff2') format('woff2');
    }

    /* Maison Neue Medium */
    @font-face {
      font-family: 'Maison Neue';
      font-style: normal;
      font-weight: 500;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-Medium.woff2') format('woff2');
    }

    /* Maison Neue Medium Italic */
    @font-face {
      font-family: 'Maison Neue';
      font-style: italic;
      font-weight: 500;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-MediumItalic.woff2') format('woff2');
    }

    /* Maison Neue Demi */
    @font-face {
      font-family: 'Maison Neue';
      font-style: normal;
      font-weight: 600;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-Demi.woff2') format('woff2');
    }

    /* Maison Neue Demi Italic */
    @font-face {
      font-family: 'Maison Neue';
      font-style: italic;
      font-weight: 600;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-DemiItalic.woff2') format('woff2');
    }

    /* Roboto Mono Light */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 300;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-Light.ttf') format('truetype');
    }

    /* Roboto Mono Light Italic */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: italic;
        font-weight: 300;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-LightItalic.ttf') format('truetype');
    }

    /* Roboto Mono Regular */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 400;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-Regular.ttf') format('truetype');
    }

    /* Roboto Mono Regular Italic */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: italic;
        font-weight: 400;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-Italic.ttf') format('truetype');
    }

    /* Roboto Mono Medium */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 500;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-Medium.ttf') format('truetype');
    }

    /* Roboto Mono Medium Italic */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: italic;
        font-weight: 500;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-MediumItalic.ttf') format('truetype');
    }

    /* Roboto Mono Bold */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 700;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-Bold.ttf') format('truetype');
    }

    /* Roboto Mono Bold Italic */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: italic;
        font-weight: 700;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-BoldItalic.ttf') format('truetype');
    }

    html, body {
        @apply font-sans text-grey-500 m-0 w-full
    }

    body {
        @apply text-base
    }

    h1 {
        @apply text-9xl
    }

    footer h1 {
        @apply text-6xl text-left
    }

    h2 {
        @apply text-8xl
    }

    h3 {
        @apply text-5xl md:text-7xl
    }

    h4 {
        @apply text-4xl md:text-6xl
    }

    h5 {
        @apply 2xl:text-4xl xl:text-3xl lg:text-2xl md:text-xl text-xl
    }

    h6 {
        @apply text-base font-mono font-light uppercase
    }

    p {
        @apply text-base
    }

    button {
        @apply text-base font-semibold
    }


}