@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey-300: #9D9D9D;
    --color-grey-400: #676769;
    --color-grey-500: #424242;
    --color-grey-950: #1C1C1C;
    --color-green-300: #A1FFCD;
    --color-green-700: #478978;
    --highlight-z-index: -10;
    --page-z-index: 20;
    --modal-z-index: 30;
    --header-z-index: 40;
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}
@media (min-width: 640px) {
    html {
        font-size: 16px;
    }
}

body {
    z-index: var(--page-z-index);
}

header {
    z-index: var(--header-z-index);
}

.nav-item {
    position: relative;
    transition-behavior: normal;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

.nav-item::after {
    content: ' ';
    position: absolute;
    width: 2.5rem;
    top: 50%;
    right: -3.125rem;
    height: 1px;
    background: var(--color-grey-500);
    transform: translate3d(101%,0,0);
    transition-behavior: normal;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: transform;

}

.nav-item:hover::after {
    transform: translate3d(0,0,0);
}

.outline-text {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-grey-500);

  }

.outline-white-text {
    color: transparent;
    -webkit-text-stroke: 0.5px var(--color-white);
  }
  @media (min-width: 640px) {
    .outline-white-text {
        -webkit-text-stroke: 1px var(--color-white);
    }
    }
@media (min-width: 768px) {
    .outline-white-text {
        -webkit-text-stroke: 1.5px var(--color-white);
    }
@media (min-width: 1024px) {
    .outline-white-text {
        -webkit-text-stroke: 2px var(--color-white);
    }
    }
  }

.highlight {
    z-index: var(--highlight-z-index);
    color: var(--color-green-700);
    background: linear-gradient(0deg, var(--color-green-300) 50%, transparent 50%);
}

@keyframes heightAnimation {
    0% {
      height: 0;
    }
    100% {
      height: 50%;
    }
  }

  .highlight-dark-text {
      color: var(--color-green-700);
      position: relative;
      display: inline-block; /* or inline-flex */
  }

  .highlight-dark-text::before {
      content: '';
      position: absolute;
      pointer-events: none;
      width: 100%; /* cover the full width of the parent */
      height: 0; /* start from 0 height */
      bottom: 0;
      left: 0; /* start from the left edge of the parent */
      background: var(--color-green-300);
      z-index: var(--highlight-z-index);
      animation: heightAnimation 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.25s forwards; /* animate the height */
  }

@layer base {
    /* Maison Neue Light */
    @font-face {
      font-family: 'Maison Neue';
      font-style: normal;
      font-weight: 300;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-Light.woff2') format('woff2');
    }

    /* Maison Neue Light Italic */
    @font-face {
      font-family: 'Maison Neue';
      font-style: italic;
      font-weight: 300;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-LightItalic.woff2') format('woff2');
    }

    /* Maison Neue Book */
    @font-face {
      font-family: 'Maison Neue';
      font-style: normal;
      font-weight: 400;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-Book.woff2') format('woff2');
    }

    /* Maison Neue Book Italic */
    @font-face {
      font-family: 'Maison Neue';
      font-style: italic;
      font-weight: 400;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-BookItalic.woff2') format('woff2');
    }

    /* Maison Neue Medium */
    @font-face {
      font-family: 'Maison Neue';
      font-style: normal;
      font-weight: 500;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-Medium.woff2') format('woff2');
    }

    /* Maison Neue Medium Italic */
    @font-face {
      font-family: 'Maison Neue';
      font-style: italic;
      font-weight: 500;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-MediumItalic.woff2') format('woff2');
    }

    /* Maison Neue Demi */
    @font-face {
      font-family: 'Maison Neue';
      font-style: normal;
      font-weight: 600;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-Demi.woff2') format('woff2');
    }

    /* Maison Neue Demi Italic */
    @font-face {
      font-family: 'Maison Neue';
      font-style: italic;
      font-weight: 600;
      font-display: optional;
      src: url('../styles/fonts/maison-neue/MaisonNeue-DemiItalic.woff2') format('woff2');
    }

    /* Roboto Mono Light */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 300;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-Light.ttf') format('truetype');
    }

    /* Roboto Mono Light Italic */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: italic;
        font-weight: 300;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-LightItalic.ttf') format('truetype');
    }

    /* Roboto Mono Regular */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 400;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-Regular.ttf') format('truetype');
    }

    /* Roboto Mono Regular Italic */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: italic;
        font-weight: 400;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-Italic.ttf') format('truetype');
    }

    /* Roboto Mono Medium */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 500;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-Medium.ttf') format('truetype');
    }

    /* Roboto Mono Medium Italic */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: italic;
        font-weight: 500;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-MediumItalic.ttf') format('truetype');
    }

    /* Roboto Mono Bold */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 700;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-Bold.ttf') format('truetype');
    }

    /* Roboto Mono Bold Italic */
    @font-face {
        font-family: 'Roboto Mono';
        font-style: italic;
        font-weight: 700;
        font-display: optional;
        src: url('../styles/fonts/roboto-mono/RobotoMono-BoldItalic.ttf') format('truetype');
    }

    html, body {
        @apply font-sans text-grey-500 m-0 w-full
    }

    body {
        @apply text-base
    }

    h1 {
        @apply text-9xl text-center md:text-left
    }

    footer h1 {
        @apply text-6xl text-left
    }

    h2 {
        @apply text-8xl
    }

    h3 {
        @apply text-7xl text-center md:text-left
    }

    h4 {
        @apply text-6xl text-center md:text-left
    }

    h5 {
        @apply 2xl:text-4xl xl:text-3xl lg:text-2xl md:text-xl text-lg text-center md:text-left
    }

    h6 {
        @apply text-base font-mono font-light uppercase
    }

    p {
        @apply text-base
    }

    button {
        @apply text-base font-semibold
    }


}